.text-bounce {
  animation: text-shadow 1.5s ease-in-out infinite;
}

.text-bounce:hover {
  animation-play-state: paused;
}

.text-cindy {
  color: #c8a2c8;
  font-weight: 500;
}

.text-tom {
  color: #ff1493;
  font-weight: 500;
}

.text-sausanne {
  background-image: linear-gradient(
    to left,
    #fbf8cc,
    #fde4cf,
    #ffcfd2,
    #f1c0e8,
    #cfbaf0,
    #a3c4f3,
    #90dbf4,
    #8eecf5,
    #98f5e1,
    #b9fbc0
  );
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-0.5em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.3em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.125em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}
