.jodit-toolbar__box:not(:empty) {
  background-color: white !important;
  border-color: var(--chakra-colors-gray-200) !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  transition: 0.3s ease !important;
}

.jodit-toolbar__box:not(:empty):hover {
  border-radius: 0.5rem 0.5rem 0 0 !important;
  transition: 0.3s ease !important;
}

.jodit-container:not(.jodit_inline) {
  border: 1px solid var(--chakra-colors-gray-200) !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
  transition: border 0.3s ease !important;
}

.jodit-container:not(.jodit_inline):hover {
  border: 1px solid var(--chakra-colors-gray-300) !important;
  transition: border 0.3s ease !important;
}

.jodit-container:not(.jodit_inline) .jodit-editor__resize a {
  border-right: 12px solid var(--chakra-colors-gray-200) !important;
  border-top: 12px dashed transparent !important;
  border-bottom: 0px dashed transparent !important;
  border-left: 0px dashed transparent !important;
}

.jodit-placeholder {
  color: var(--chakra-colors-gray-400) !important;
}
